body {
  margin: 0;
}

.nav {
  background-color: #383737;
}

.nav-dropdown {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 15px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: dodgerblue;
  text-decoration: none;
}

.dropdown a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.nav:hover .dropdown {
  display: block;
}

.dropdown a:hover {
  background-color: rgb(25, 105, 185);
}