body {
    margin: 0;
}

.bar {
    display: flex;
    background-color: #3a3633;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}

.bar > a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    transition: opacity 0.2s ease-in-out;
}

.icon {
    display: block;
}

.bar > a:hover {
    opacity: 0.5;
}