.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }
.img8 { grid-area: img8; }
.img9 { grid-area: img9; }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'img1 img2 img3'
    'img4 img5 img6'
    'img7 img8 img9';
}

.grid-container > img {
    border-bottom-style: solid;
    border-left: solid; 
    border-color: red;
    border-width: 1px;
}