body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.header {
  text-align: center;
  background-color: dodgerblue;
  color: white;
  box-shadow: 0px 2px 5px gray;
  padding: 10px;
}

.registration-form {
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 0px 5px 1px rgb(163, 163, 163);
}

.text-field {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border-width: 1px;
  padding: 4px;
  width: 400px;
  margin-top: 10px;
  border-color: dodgerblue;
}

.radio-label,
.checkbox-label {
  text-align: left;
  margin: 10px;
  margin-left: 0;
}

label {
  font-size: 1pc;
  display: block;
  text-align: center;
}

.section {
  border-top-style: solid;
  border-top-color: rgb(199, 199, 199);
  border-top-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section > label {
  text-align: left;
  margin-top: 20px;
}

select {
  font-size: 1pc;
  margin-left: 10px;
}

textarea {
  display: block;
  width: 100%;
  background-color: rgb(233, 233, 233);
  border: 0;
  font-size: 1pc;
  min-height: 100px;
  margin-top: 10px;
}

.form-button {
  padding: 18px 40px;
  font-size: 1pc;
  border-width: 1px;
  border-style: solid;
  border-color: dodgerblue;
  border-radius: 2px;
  background-color: white;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: dodgerblue;
  color: white;
  box-shadow: 0px 0px 5px 1px rgb(163, 163, 163);
}
