body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.bar {
  height: 50px;
  background-color: #3a3633;
  color: #fff;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: calc(100vh - 100px);
}
