body {
    font-family: 'Poppins', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-size: 2pc;
    margin-left: 41%;
    margin-right: 41%;
    margin-bottom: 2%;
    padding: 10px;
}

.call {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3pc;
    margin-bottom: 2%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8pc;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2pc;
    color: rgb(1, 154, 255);
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: rgb(0, 99, 165);
}

.link::after {
    content: '>';
    padding-left: 8px;
    display: inline-block;
  }