body{
    margin: 0;
}
.container{
    display: grid;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    grid-template-rows: 40px 1fr 40px;
}
.nav{
    background-color: #555555;
    color: white;
    text-align: center;
}
.content{
    display: grid;
    justify-self: center;
    align-self: center;
    flex: 1;
}