body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    min-height: 100vh;
}
.nav{
    text-align: center;
    background-color: #555555;
    color: white;
    height: 25px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2pc;
    min-height: calc(100vh - 50px);
}